@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --couleur-principale: #eed202;
  --couleur-secondaire: #abacb1;
}

/* navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--couleur-principale);
  display: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  z-index: 100;
  border-bottom: 3px solid black;
}
#logo {
  width: 47px;
  height: 47px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  top: 50%;
  z-index: 100;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}
nav li {
  list-style: none;
}
nav a {
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: white;
}
@media screen and (max-width: 580px) {
  nav a {
    font-size: small;
  }
  nav ul {
    gap: 5px;
  }
}
@media screen and (max-width: 400px) {
  nav {
    height: 30px;
  }
  nav a {
    font-size: x-small;
  }
  #logo {
    width: 27px;
    height: 27px;
  }
}

/* home / header */
#football_screen {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(25%) blur(2px);
}
.main_screen {
  width: 100%;
  position: relative;
  display: inline-block;
}
.main_text {
  position: absolute;
  top: 25%;
  left: 15%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
h1 {
  font-size: xxx-large;
  font-weight: bold;
}
.welcoming {
  color: var(--couleur-principale);
  text-decoration: underline;
  text-underline-offset: 50px;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
header button {
  background-color: transparent;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  color: white;
  border: 1px solid white;
  font-size: 0.75em;
  font-weight: bold;
}
header button:hover {
  background-color: var(--couleur-principale);
  color: black;
}
h2 {
  text-decoration: underline;
  text-underline-offset: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: xx-large;
  }
  .main_text p {
    font-size: medium;
  }
}
@media screen and (max-width: 625px) {
  .main_text {
    left: 5%;
  }
}
@media screen and (max-width: 400px) {
  header button {
    width: 130px;
    height: 45px;
  }
  .main_text {
    left: 0%;
  }
}

/* about us */
.about_us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-block: 40px;
  padding-inline: 20px;
  gap: 30vh;
  width: 100%;
}
.text_about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}
.text_about span {
  font-weight: bold;
}
.palmares {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.trophy,
.members {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 10px;
}
.palmares span {
  font-weight: bold;
  font-size: xx-large;
}
.palmares img {
  height: 10vh;
  width: 10vh;
  object-fit: cover;
}
.picture_about img {
  width: 80vh;
  height: 50vh;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .about_us {
    flex-direction: column;
    gap: 10vh;
  }
}
@media screen and (max-width: 800px) {
  .picture_about img {
    width: 70vh;
    height: 40vh;
  }
  .text_about {
    margin-inline: 25px;
  }
}
@media screen and (max-width: 500px) {
  .picture_about img {
    width: 40vh;
    height: 20vh;
  }
}

/* coaches */
.coaches {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--couleur-secondaire);
  gap: 10px;
}
.coaches li {
  list-style-type: circle;
}
.coaches_about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.coaches_about img {
  width: 35vh;
  height: 50vh;
  border-radius: 20px;
  object-fit: cover;
}
.flip-card {
  background-color: transparent;
  width: 35vh;
  height: 50vh;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: start;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-back {
  background-color: grey;
  color: white;
  border-radius: 20px;
  transform: rotateY(180deg);
}
.image-front {
  width: 100%;
  height: 100%;
}
.image-back {
  width: 100%;
  height: 100%;
  filter: brightness(50%) blur(15px);
}
.text-back {
  position: absolute;
  top: 12%;
  left: 10%;
  font-size: small;
}
.coaches_about p {
  text-decoration: 3px overline underline;
  text-underline-offset: 7px;
  text-align: center;
  color: black;
  margin-top: 5px;
  font-weight: bold;
  font-size: larger;
  margin-top: 20px;
}
@media screen and (max-width: 900px) {
  .coaches_about {
    flex-direction: column;
    gap: 10vh;
  }
}

/* academy programs */
.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-block: 30px;
  gap: 40px;
}
.training_type {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.woman,
.U18,
.Pro {
  height: 65vh;
  width: 50vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 5px black;
  background-color: var(--couleur-principale);
}
.U18 {
  padding-block: 17px;
}
.training_type img {
  width: 46vh;
  height: 25vh;
  object-fit: cover;
}
.training_type a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.training_type a:hover {
  font-size: large;
  text-decoration: overline;
}
@media screen and (max-width: 925px) {
  .training_type {
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }
}
@media screen and (max-width: 450px) {
  .woman,
  .U18,
  .Pro {
    height: 50vh;
    width: 35vh;
  }
  .training_type img {
    width: 32vh;
    height: 20vh;
  }
  .training_type p {
    font-size: small;
  }
}

/* gallery */
.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 25px;
  gap: 20px;
  padding-left: 15px;
  background-color: var(--couleur-secondaire);
}
.gallery_pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vh;
  height: 35vh;
}
.image img {
  width: 50vh;
  height: 35vh;
  object-fit: cover;
}
.gallery_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#image6 {
  position: relative;
  filter: brightness(50%);
  width: 50vh;
}
.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  color: white;
}
.more p {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: white;
  transform: translate(-17%, 100%);
  font-size: large;
  cursor: pointer;
}
.more img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
#image6:hover .more p {
  opacity: 1;
}
@media screen and (max-width: 1175px) {
  .gallery {
    flex-direction: column-reverse;
    padding-inline: 15px;
  }
}
@media screen and (max-width: 900px) {
  .image,
  .image img {
    width: 35vh;
    height: 20vh;
  }
  .more img {
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
  #image6 {
    width: 35vh;
  }
  .more p {
    font-size: small;
    transform: translate(-25%, 70%);
  }
}
@media screen and (max-width: 800px) {
  .gallery_pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding-inline: 25px;
  }
}
@media screen and (max-width: 450px) {
  .gallery_pictures {
    display: flex;
    flex-direction: column;
  }
}

/* register */
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.sign_up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  border: 3px solid black;
  box-shadow: 2px 2px 5px black;
  background: linear-gradient(
    to bottom,
    var(--couleur-principale),
    #e6c843 /*#b87333*/
  );
  border-radius: 10px;
  margin-block: 10px;
  padding: 15px 40px;
  height: 80vh;
  width: 80vh;
  gap: 3px;
}
.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.gender img {
  margin-right: 10px;
}
.gender label {
  font-size: medium;
  font-weight: bold;
}
form input {
  border: none;
  font-size: medium;
  font-weight: bold;
  background-color: transparent;
  border-bottom: 2px solid black;
  outline: none;
  color: black;
}
input {
  width: 60%;
}
#date {
  width: 40%;
}
input::placeholder {
  color: rgb(43, 39, 39);
  font-style: italic;
  font-weight: normal;
}
.registration img {
  height: 20px !important;
  width: 20px !important;
  object-fit: cover;
}
select {
  outline: none;
}
form button {
  border-radius: 10px;
  padding: 5px;
  font-size: large;
  font-weight: bold;
}
form button:hover {
  transform: scale(1.1);
}
.sign_up img {
  height: 80vh;
  width: auto;
  object-fit: cover;
}
@media screen and (max-width: 1000px) {
  .sign_up {
    flex-direction: column;
    gap: 5vh;
  }
}
@media screen and (max-width: 600px) {
  .registration {
    width: 68vh;
  }
  .name,
  .user_contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
@media screen and (max-width: 450px) {
  .registration {
    width: 40vh;
  }
  .sign_up img {
    height: 60vh;
  }
  form {
    padding-inline: 20px;
  }
}

/* sponsor */
.sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-top: 40px;
  padding-block: 10px;
  background-color: var(--couleur-secondaire);
}
.sponsor_pic {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.sponsor_pic_1,
.sponsor_pic_2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.sponsor_pic img {
  object-fit: cover;
}
#adidas {
  width: 25vh;
  height: 16.25vh;
}
#hyundai {
  width: 25vh;
  height: 3.25vh;
}
#coca,
#qatar {
  width: 25vh;
  height: 7.5vh;
}
#t-mobile {
  width: 25vh;
  height: 12.5vh;
}
@media screen and (max-width: 660px) {
  #adidas {
    width: 18vh;
    height: 11.75vh;
  }
  #hyundai {
    width: 18vh;
    height: 2.35vh;
  }
  #coca,
  #qatar {
    width: 18vh;
    height: 5.4vh;
  }
  #t-mobile {
    width: 18vh;
    height: 9vh;
  }
}
@media screen and (max-width: 500px) {
  .sponsor_pic_1,
  .sponsor_pic_2 {
    flex-direction: column;
    gap: 40px;
  }
}

/* footer / contact */
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: var(--couleur-principale);
}
footer li {
  color: var(--couleur-principale);
}
footer a:hover {
  color: white;
}
footer p {
  font-size: x-small;
}
h4 {
  text-decoration: underline;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
footer img:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 950px) {
  footer {
    flex-direction: column;
    gap: 30px;
  }
}
